body {
  height: 100vh;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
  color: #211922;
  font-size: 12px;
}


/* Navbar */
.bg-custom {
  background-color: #fff;
  border-bottom: 1px solid #efefef;
  position: sticky;
}
.icon-pinterest {
  height: 46px;
  width: 46px;
  padding: 8px;
  color:#bd081c;
  font-size: 30px;
}
.icon-pinterest:hover {
  background-color: #efefef;
  border-radius: 50%;
}
.search-header {
  background-color: #efefef; 
  border: none;
  border-radius: 4px;
  position: relative;
  float: left;
}
.fa-search {
  color: #8e8e8e;
  font-size: 20px;
  margin-right: -15px;
}
.searchInput {
  width: 750px;
  height: 40px;
  background-color:transparent;
  border: none;
  color: #8e8e8e;
  font-size: 16px;
  font-weight: 600;
}
.btn-header1 {
  margin: 0;
  padding: 8px;
  background-color: transparent;
  color: #717171;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  float: right;
  letter-spacing: -.4px;
  left: -40px;
}
.btn-header1:hover {
  border-radius: 999px;
  background-color: rgba(0, 0, 0, 0.06);
  text-decoration: none;
  color: #717171;
}
.icon-header {
  font-size: 20px;
  font-weight: 600;   
}
.iconos{
 margin: 0;
 padding: 8px;
 padding-right: 5px;
 background-color: transparent;
 color: #717171;
 font-size: 18px;
 font-weight: 700;
 position: relative;
 float: right;
 margin-left: -20px;
 left: -40px;
}
.iconos:hover{
  border-radius: 1000px;
  background-color: rgba(0, 0, 0, 0.06);
  text-decoration: none;
  color: #717171;
}
.Inicio-btn {
  color: #333;
  position: relative;
  left: -20px;
}
.fixed {
  position: fixed;
  top: 0%;
  width: 100%;
}

 .diseño{
  padding-top: 100px;
  padding-bottom: 100px;
}

.imgsearch{
  height: 100%;
  width: 100%;
  border-radius: 5%;
}
.imgsearch:hover{
  color: #8e8e8ee0;
  opacity: 0.3;
}
.card{
  display: block;
  width: 200px;
  float: left;
  margin: 5px;
  border-radius: 5%;
}
/* .card:hover{
 background-color: #8e8e8e57; 
} */
#btnImg{
  display: none;
  background-color: #efefef;
  border-radius: 7%;
  border:none;
  color:rgb(54, 54, 54);
  width: 255px;
  position: relative;
  bottom: 60px;
  left: 5px;
  font-weight: bold;
  font-size: 13px;
}
.card:hover > #btnImg{
  display: block;   
}
#save{
  display: none;
  background-color:#ad081b;
  color:white;
  border-radius: 8%;
  font-weight: 600;
  border:none;
  position: relative;
  left: 200px;
  /* top: 5px; */
  bottom: 160px;
}
.card:hover > #save{
  display:block;
}
.puntos{
  border-radius: 50%;
  border: none;
  background-color: transparent;
}

.tags{
  float: left;
  margin: 1px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  background-color: #DD9672;
  color:white;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  height: 7vh;
}

.diseñoTags{
  padding-top: 90px;
  padding-bottom: 90px;
  display: flex;
  overflow-y:scroll;
}
.diseñoTag{
  white-space:nowrap;
  font-size:0;
}