<nav class="navbar sticky-top bg-custom fixed">
    <a href="#">
        <i class="fab fa-pinterest icon-pinterest"></i>
    </a>
    <form href="" class="form-inline search-header my-2 my-lg-0 mx-3">
      <span id="search-btn" class="search-icon-header px-3">
        <i class="fas fa-search"></i>
      </span>
      <input class="form-control searchInput mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
    </form>
    <a class="btn-header1 px-3 Inicio-btn" href="#">Inicio</a>
    <a class="btn-header1 px-3" href="#">Siguiendo</a>
    <a class="btn-header1 px-3" href="#"><i class="far fa-user-circle icon-header pr-2"></i>Leslie</a>
    <a class="btn-header px-3 iconos" href="#"><i class="fas fa-comment-dots icon-header"></i></a>
    <a class="btn-header px-3 iconos" href="#"><i class="fas fa-bell icon-header"></i></a>
    <a class="btn-header px-3 iconos" href="#"><i class="fas fa-ellipsis-h icon-header"></i></a>
  </nav>