<!-- <nav class="navbar sticky-top bg-custom fixed">
    <a href="#">
        <i class="fab fa-pinterest icon-pinterest"></i>
    </a>
      <span id="search-btn" class="search-icon-header px-3">
     <i class="fas fa-search" (click) ="searchImages(searchQuery)"></i>
      </span>
     <input class="searchInput" [(ngModel)] ="searchQuery" placeholder="Buscar" aria-label="Search">
    <a class="btn-header1 px-3 Inicio-btn" href="#">Inicio</a>
    <a class="btn-header1 px-3" href="#">Siguiendo</a>
    <a class="btn-header1 px-3" href="#"><i class="far fa-user-circle icon-header pr-2"></i>Leslie</a>
    <a class="btn-header px-3 iconos" href="#"><i class="fas fa-comment-dots icon-header"></i></a>
    <a class="btn-header px-3 iconos" href="#"><i class="fas fa-bell icon-header"></i></a>
    <a class="btn-header px-3 iconos" href="#"><i class="fas fa-ellipsis-h icon-header"></i></a>
  </nav> -->
